<%- include('partials/header', { pageTitle: pageTitle }) %>

<div class="static-page">
    <h1><%= t('admin_page.title') %></h1>
    <p><%= t('admin_page.welcome') %>, <%= locals.username %>.</p>
    <hr>

    <h2><%= t('admin_page.actions_title') %></h2>
    <ul>
        <li><a href="/journal/nouvelle"><%= t('journal.add_entry') %></a></li>
        <li><a href="/admin/tags"><%= t('admin_page.manage_tags_title') %></a></li>
        <li><a href="/admin/comments"><%= t('admin_page.action_manage_comments') %></a></li>
        <li><a href="/change-password"><%= t('admin_page.action_change_password') %></a></li>
        <li>
            <a href="/deconnexion" 
               onclick="return confirm('<%= t('nav.logout') %> ?');"
            ><%= t('admin_page.action_logout') %></a>
        </li>
    </ul>
</div>

<%- include('partials/footer') %>