<%- include('partials/header', { pageTitle: article.title }) %>

<article class="full-article">
    <h1><%= article.title %></h1>
    <small>Publié le: <%= new Date(article.publication_date).toLocaleString('fr-FR') %></small>
    <hr>
    
    <div class="article-content"><%- article.content %></div>
</article>

<nav>
    <a href="/journal">Retour au journal</a>
</nav>

<%- include('partials/footer') %>