<%- include('partials/header', { pageTitle: article.title }) %>

<article class="full-article">
    <%# AJOUT : On affiche l'image seulement si elle existe %>
    <% if (article.image_filename) { %>
        <img src="/uploads/<%= article.image_filename %>" alt="<%= article.title %>" style="max-width: 100%; height: auto; border-radius: 5px; margin-bottom: 1rem;">            
    <% } %>
    <h1><%= article.title %></h1>
    <small>Publié le: <%= new Date(article.publication_date).toLocaleString('fr-FR') %></small>
    <hr>
    <div><%- article.content.replace(/\n/g, '<br>') %></div>
</article>

<nav>
    <a href="/articles">Retour à la liste des articles</a>
</nav>

<%- include('partials/footer') %>