<%- include('partials/header', { pageTitle: pageTitle }) %>

<h1><%= t('auth.login_title') %></h1>

<% if (error) { %>
    <p class="error-message"><%= error %></p>
<% } %>

<form action="/connexion" method="POST">
    <div>
        <label for="username"><%= t('forms.username') %> :</label><br>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password"><%= t('forms.password') %> :</label><br>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit"><%= t('forms.login_button') %></button>
    </div>
</form>

<% if (!adminExists) { %>
    <p><%= t('auth.no_admin') %> <a href="/inscription"><%= t('auth.create_now') %></a>.</p>
<% } %>

<%- include('partials/footer') %>