<%- include('partials/header', { pageTitle: pageTitle }) %>

<div class="static-page">
    <h1><%= t('static_pages.profile_title') %></h1>
    <p><%= t('static_pages.profile_intro') %></p>

    <h2><%= t('static_pages.profile_skills_title') %></h2>
    <ul>
        <li><strong><%= t('static_pages.profile_skills_langs') %> :</strong> JavaScript (Node.js), Python, Java, C++</li>
        <li><strong><%= t('static_pages.profile_skills_web') %> :</strong> HTML, CSS, Express.js, EJS</li>
        <li><strong><%= t('static_pages.profile_skills_db') %> :</strong> SQLite, SQL</li>
        <li><strong><%= t('static_pages.profile_skills_tools') %> :</strong> Git, GitHub, Docker</li>
    </ul>

    <h2><%= t('static_pages.profile_contact_title') %></h2>
    <p><%= t('static_pages.profile_contact_intro') %></p>
    <ul>
        <li><a href="https://www.linkedin.com/in/falleron/"><%= t('static_pages.profile_linkedin') %></a></li>
        <li><a href="https://github.com/fr3d0r1c"><%= t('static_pages.profile_github') %></a></li>
        <li><a href="#"><%= t('static_pages.profile_cv') %></a></li>
    </ul>
</div>

<%- include('partials/footer') %>